.topo{
    height: 80px;
    width: auto;
    background-color: #252524;
}

.search{
    background: url('../img/slide-1.png') no-repeat;
    background-size: 100%;
    height: 650px;
    width: 100%;
    align-items: center;
}

#destaques{
    height: 500px;
    background-image: linear-gradient(#262626, white);
    color: white;
}

#destaques hr{
    color: white;
}

.search .btn{
    color: #ff8400;
    background-color: #252524;
}

i{
    color: #ff8400;
}.topo{
    height: 80px;
    width: auto;
    background-color: #252524;
}

.search{
    background: url('../img/slide-1.png') no-repeat;
    background-size: 100%;
    height: 650px;
    width: 100%;
    align-items: center;
}

#destaques{
    height: 500px;
    background-image: linear-gradient(#262626, white);
    color: white;
}

#destaques hr{
    color: white;
}

.search .btn{
    color: #ff8400;
    background-color: #252524;
}

i{
    color: #ff8400;
}
.search input{
    min-width: 500px;
}

.paralelo { 
        width: 100px; 
        height: 50px; 
        -webkit-transform: skew(-20deg); 
        -moz-transform: skew(-20deg); 
        -o-transform: skew(-20deg); 
        background: white; 
}
  
.login{
    background-color: white;
    width: 12%;
}

.perfil{
    background-color: #ff8400;
    width: 15%;
}
.search input{
    min-width: 500px;
}

.paralelo { 
        width: 100px; 
        height: 50px; 
        -webkit-transform: skew(-20deg); 
        -moz-transform: skew(-20deg); 
        -o-transform: skew(-20deg); 
        background: white; 
}
  
.login{
    background-color: white;
    width: 6%;
}

.perfil{
    background-color: #ff8400;
    width: 8%;
}

#logo{
    vertical-align: middle;
}

.card-title{
    background-color: #ff8400;
    color: white;
    text-align: center;
    width: 100%;
}

.card{
    border: 0;
}